.adminContainer {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 90%;
    height: 95%;
}

.dashHead {
    display: flex;
    justify-content: space-between;
}

.dashHead button {
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    background: black;
    color: white;
    cursor: pointer;
}

.adminContainer table {
    background: white;
    margin: 0 auto 0 16px;
    width: 100%;
}

.adminContainer thead th{
    background: #419BEE;
    padding: 15px 20px !important;
}

.adminContainer tbody td {
    text-align: center;
    padding: 0px !important;
    height: 12px !important;
}

.adminContainer tbody tr {
    height: 12px !important;
}

.adminDashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.admin-Dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 95%;
}

.dashboardLeft {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: white;
    border-radius: 15px;
}
.dashboardRight {
    padding: 0px !important;
    background: white;
    border-radius: 15px;
}
.dashboardRight table {
    width: 100%;
    margin: auto;
}

.dashboardStatCell {
    display: flex;
    flex-direction: column;
    width: 240px;
    border-radius: 15px;
    margin: 6px 0px;
    padding: 20px;
    text-align: center;
    background: white;
    justify-content: space-between;
}

.dashboardStatCell:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in 0.2s;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.statPaid:active .adminContainer table th {
    background: #74adb7;
}

.dashboardLeft .dashboardStatCell:nth-child(1) {
    background: #74adb7;
}
.dashboardLeft .dashboardStatCell:nth-child(2) {
    background: #f74545;
}
.dashboardLeft .dashboardStatCell:nth-child(3) {
    background: #FFBE83;
}

.statCellHead {
    display: flex;
    justify-content: space-between;
    text-align: right;
}

.statCellHead img {
    width: 60px;
    height: 60px;
}

.dashboardStatCell h3 {
    color: white;
    font-size: medium;
    text-shadow: 0px 1px rgb(0, 0, 0, 0.6);
}

.dashboardStatCell span {
    font-size: x-large;
    font-weight: 600;
    
}

.dashboardRight {
    width: 100%;
    padding: 20px;
    margin-left: 2rem;
}

.dashboardRight table {
    width: 100%;
    border-spacing: 0;
}


.dashboardRight table th {
    background: var(--primary-blue);
}

.dashboardRight table td {
    text-align: center;
    border: 1px solid rgb(0, 0, 0, 0.6);
}

.dashboardRight table tr {
    background: white;
}

.dashboardRight table tr:nth-child(even){
    background: #70E1F5;
}

.notifContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    height: 460px;
    border-radius: 15px;
    background: linear-gradient(#f74545 40%, rgb(0,0,0,0));
    padding: 20px;
}

.notifContainer h1 {
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: 0px 2px 4px black;
    text-align: center;
}
.notif{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.notif label{
    padding: 10px;
}
.notif .notifInput{
    padding: 5px;
    border-radius: 10px;
}
.notif-date{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.notif-date label{
    width: 300px;
}
.statButtons {
    display: flex;
    position: absolute;
    bottom: 10%;
}

.statButtons button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    width: 140px;
    margin: 0 20px;
    font-weight: 600;
    cursor: pointer;
    color: var(--primary-blue);
}
.notif-label{
    padding: 10px;
}
.notif-label label{
    margin-right: 5px;
}
.profileContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    background: white;
    margin: auto;
    border-radius: 15px;
    padding: 20px;
}

.profileHeader {
    padding: 20px;
    border-bottom: 2px solid black;
}

.profileHeader h1 {
    text-align: center;
}

.profileBody {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    width: 100%;
    align-items: center;
}

.profileCell {
    display: flex;
    padding: 20px;
    background: var(--linear-primary-blue-diagonal);
    width: 300px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: var(--default-box-shadow);
    align-items: center;
    
    justify-content: space-between;
}

.profileCell input {
    font-weight: 600;
    color: white;
    font-size: large;
    background: none;
    border: none;
    outline: none;
}

.profileCell svg {
    width: 25px;
    height: 25px;
}

.profileCell svg path {
    fill: white;
}

.profileContainer button {
    padding: 10px 20px;
    width: 50%;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 600;
    font-size: large;
    color: white;
    background: grey;
}

.profileIcon {
    position: absolute;
    top: 6px;
    right: 4%;
    border-radius: 50%;
    background: #1A4660;
    padding: 5px;
    width: 60px;
    height: 60px;
    display: flex;
}

.profileIcon svg {
    width: 35px;
    height: 35px;
    margin: auto;
}

.profileIcon svg path {
    width: 25px;
    height: 25px;
    fill: white;
}

#reveal {
    cursor: pointer;
}

.reportsContainer {
    margin: 0 auto;
    width: 90%;
    display: flex;
    padding: 20px;
}

.reportLeft {
    width: 40%;
    padding: 20px;
}

.clockView {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    background: black;
    color: white;
    padding: 20px;
    width: 250px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;

}

.reportRight {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.reportRight table {
    background: white;
}

.reportRight h1 {
    text-align: center;
    margin-top: 20px;
}

.reportRight table tbody tr td {
    padding: 15px 20px;
    text-align: center;
}

.overdue {
    background: #FFBE83;
}
.paid {
    background: #9F1B1B;
}
.pending {
    background: #0DBD09;
}

.billContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 40px auto;
    position: relative;
}

.billContainer table {
    background: white;
}
.mark-done-appointment{
    border: none;
    padding: 2px 2px;
    cursor: pointer;
    background-color: transparent;
}
.mark-done-appointment:hover{
    text-decoration: underline;
}

.billContainer thead th {
    padding: 15px 20px;
    background: #419BEE;
}

.billContainer tbody td {
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.billContainer tbody td button {
    margin: 0 6px;
    position: relative;
    padding-bottom: 16px;
}

.billContainer tbody td button:hover span{
    opacity: 1;
    transition: ease-in 0.2s;
    transform: translateY(-2px);
}

.billContainer tbody td button:hover svg {
    transform: translate(0);
    transition: ease-in 0.2s;
}

.billContainer tbody td button span {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 29.4%;
    text-align: center;
    margin-top: 4px;
    transform: translateY(-6px);
}

.billContainer tbody td button svg {
    width: 25px;
    height: 25px;
    transform: translateY(6px);
}

.billContainer tbody td button svg path {
    fill: white;
}

.billContainer tbody:nth-child(odd) {
    background: #419BEE;
}

.billSearchContainer {
    border-top: 1px solid black;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background: white;
    border-radius: 15px;
    margin-bottom: 20px;
}

.billContainer input {
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.2);
    outline: none;
}

.billContainer button {
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background: black;
    color: white;
}

.approveContainer {
    margin: auto;
}

.approveContainer table {
    background: white;
}

.approveContainer thead th {
    background: #419BEE;
    padding: 15px 20px;
}

.approveContainer tbody td {
    text-align: center;
    padding: 15px 20px;
}

.approveContainer button {
    margin: 4px;
    padding: 6px;
    background: #0DBD09;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.1);
}

.approveContainer button:active {
    transform: scale(1);
}

.approveContainer button svg {
    display: flex;
    width: 16px;
    height: 16px;
    margin: auto;
}

.approveContainer button svg path {
    fill: white;
}

.approveContainer button:nth-child(2){
    background: red;
}

.billDeets {
    background: white;
    margin: auto;
    border-radius: 15px;
}

.billDeetHead {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #FFBE83;
    margin: 0 20px;
}

.deetHeadLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    text-align: center;
}

.deetHeadRight {
    padding: 5px;
}

.billDeetBody  {
    display: flex;
}

.billDeetBodyLeft {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.billDeetBodyRight {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.billDeetCell {
    display: flex;
    justify-content: space-between;
    background: #419BEE;
    margin: 8px 4px;
    padding: 12px;
    border-radius: 10px;
}

.billDeetCell p {
    font-weight: 600;
    color: white;

}

.manageContainer {
    display: flex;
    margin: 24px auto;
}

.manageContainer table {
    background: white;
    margin: auto;
}

.manageContainer table thead th {
    background: #419BEE;
    padding: 12px 24px;
}

.manageContainer table tbody td {
    padding: 12px 24px;
}

.manageCard {
    display: flex;
    flex-direction: column;
    margin: 0 6px;
    background: white;
    border-radius: 15px;
    padding: 12px;
    min-width: 320px;
    position: relative;
}

.manageCard ul {
    list-style: none;
}

.manageCardHead {
    text-align: center;
    border-bottom: solid 2px #419BEE;
    padding: 4px;
}

.manageCardHead span {
    font-size: small;
    font-weight: 600;
    color: darkslategray;
}

.manageCardBody {
    overflow-y: auto;
    padding: 4px;
}

.manageCardBody tbody td {
    font-weight: 600;
    font-size: small;
}

.manageCardBody tbody tr :first-child{
    color: darkslategray;
}

.manageCardFoot {
    border-top: solid 2px #419BEE;
}

.manageCardFoot button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: var(--primary-blue);
    margin: 6px;
    padding: 12px;
    border-radius: 10px;
    float: right;
}

.manageCardFoot button:hover {
    background: #92d8e4;
    transition: ease-in 180ms;
}

.delete {
    color: red !important;
}

.delete:hover {
    background: #e78484 !important;
}
.close {
    color: gray !important;
}

.close:hover {
    background: #656363 !important;
}
.logOut {
    color: red !important;
    border-radius: 10px;
    padding: 5px;
}
.logOut:hover {
    background: #e78484 !important;
    cursor: pointer;
}
.billingSearch{
    width: 90%;
}

.billModal{
    border: solid blue 1px;
    padding: 5px;
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
    margin-bottom: 5px;
}
.setWidth{
    width: 450px;
    display: flex;
    justify-content: end;
    font-weight: bold;
}
.setGroupWidth{
    display: flex;
    justify-content: end;
    width: 700px !important;
}
.addBillButton1{
    margin-right: 20px;
}
.view_more{
    background: #419BEE;
    color: white;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
.view_more:hover{
    background: #1e82e0;
}
.billFormContainer{
    display: flex;
    padding: 0px;
    flex-direction: column;
    align-items: center;
}
.tableBody{
    text-align: right;
}
.appointment-button{
    background: #419BEE;
    color: white;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
.appointment-button:hover{
    background: #1e82e0;
}
